<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    <style type="text/css" media="screen">

    table{
        border-collapse:collapse;
        border:1px solid #FF0000;
    }

    table td{
        border:1px solid #FF0000;
    }
</style>
</head>
<body>
<form action="/"  METHOD="POST" >
<!-- Generate all the expense content -->
<table
        style=" font-family: arial, sans-serif;
       width: 90%;
       border: 1px solid black;
       margin-left: 50px;
       margin-top: 50px;
       text-align: center;
       padding:10px;"
>

    <tr>
        <th>Date</th>
<!--        <th>TransactionID</th>-->
        <th>Txn Desc</th>
        <th>Source</th>
        <th>Txn Type</th>
        <th>Amount</th>
        <th>SubSource</th>  <!-- from here need dropdown option -->
        <th>Category</th>
        <th>SubCat</th>
        <th>SpentDesc</th>
        <th>Wasted</th>
    </tr>

    {% for row in dt %}
    <tr>
        <td>{{ row[1] }}</td>
<!--        <td>{{ row[3] }}</td>-->
        <td>{{ row[4] }}</td>
        <td>{{ row[7] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[8] }}</td> <!-- sub_source -->
        <td>{{ row[9] }}</td> <!-- category -->
        <td>{{ row[10] }}</td>  <!-- sub_category -->
        <td>{{ row[11] }}</td> <!-- spent_desc -->
        <td>{{ row[12] }}</td>  <!-- wasted -->
    </tr>
    {% endfor %}

</table>

<!-- View all the claims -->
<!-- <button type="submit", class="viewall-button" name="save", value="save">View All</button>-->

</form>
</body>
</html>