<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    <style type="text/css" media="screen">

    table{
        border-collapse:collapse;
        border:1px solid #FF0000;
    }

    table td{
        border:1px solid #FF0000;
    }
</style>
</head>
<body>
<!--width: 90%;-->
<form action="/"  METHOD="POST" >
<!-- Generate all the expense content -->
<table
        style=" font-family: arial, sans-serif;
       border: 1px solid black;
       margin-left: 50px;
       margin-top: 50px;
       text-align: center;
       padding:10px;"
>

    <tr>
        <th>Date</th>
<!--        <th>TransactionID</th>-->
<!--        <th>Txn Desc</th>-->
        <th>Source</th>
        <th>Txn Type</th>
        <th>Amount</th>
        <th>SubSource</th>  <!-- from here need dropdown option -->
        <th>Category</th>
        <th>SubCat</th>
        <th>SpentDesc</th>
        <th>Wasted</th>
    </tr>

    {% for row in dt %}
    <tr>
        <td style="width: 10%;"> {{ row[1] }}</td>
<!--        <td>{{ row[3] }}</td>-->
<!--        <td>{{ row[4] }}</td>-->
        <td style="width: 5%;">{{ row[7] }}</td>
        <td style="width: 5%;">{{ row[5] }}</td>
        <td style="width: 10%;">{{ row[2] }}</td>
<!--                <label>Sex</label>-->
        <td style="width: 5%;">
        <input type="text" list="datalistOptions" size="15" class="form-control is-valid" id="feature_input1" name="sub_source" placeholder="Sub Source" required>
        <datalist id="datalistOptions">
            <option value="0"></option>
            <option value="1"></option>
        </datalist>
        </td>
<!--        <td>{{ row[8] }}</td> &lt;!&ndash; sub_source &ndash;&gt;-->
        <td style="width: 5%;">
            <input type="text" list="dataOptions" size="15" class="form-control is-valid" id="feature_input2" name="sub_source" placeholder="Sub Source" required>
        <datalist id="dataOptions">
            <option value="0"></option>
            <option value="1"></option>
        </datalist>
        </td> <!-- category -->
        <td style="width: 10%;">{{ row[10] }}</td>  <!-- sub_category -->
        <td style="width: 10%;">{{ row[11] }}</td> <!-- spent_desc -->
        <td style="width: 5%;">{{ row[12] }}</td>  <!-- wasted -->
    </tr>
    {% endfor %}

</table>

<!-- View all the claims -->
<!-- <button type="submit", class="viewall-button" name="save", value="save">View All</button>-->

</form>
</body>
</html>